.attribution {
  font-size: 11px;
  text-align: center;
  color: beige;
}
.attribution a {
  text-decoration: none;
  color: beige;
}

.page {
  background-image: url("./images/bg-intro-desktop.png");
  background-color: hsl(0, 100%, 74%);
}
.content {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 12%;
  margin: auto;
  max-width: 1280px;
  min-height: 100vh;
  line-height: 1.2;
}

@media screen and (max-width: 1300px) {
  .content {
    padding: 0 5%;
  }
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero__heading {
  font-size: 50px;
  font-weight: 600;
}
.hero__subheading {
  line-height: 1.7;
}
.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.free-trial-button {
  font-weight: 600;
  background-color: hsl(248, 32%, 49%);
  border: none;
  color: white;
  line-height: 1.7;
  border-radius: 10px;
  padding: 10px 50px;
  box-shadow: 0 7px 2px rgba(93, 85, 162, 0.2);
  margin-bottom: 30px;
  width: 100%;
  transition: linear 0.3s opacity;
  cursor: pointer;
}

.free-trial-button:hover {
  opacity: 0.7;
}
.free-trial-button__unbold {
  font-weight: 400;
}
.signup__container {
  border-radius: 10px;
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  box-sizing: border-box;
}
.signup-form__item {
  border: 1px solid rgba(220, 220, 220, 0.5);
  border-radius: 5px;
  font-weight: 500;
  width: 100%;
  margin-bottom: 20px;
  padding: 20px 15px;
  box-sizing: border-box;
}

.signup-form__item_error {
  border: 3px solid hsl(0, 100%, 74%);
  background-image: url("./images/icon-error.svg");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: center;
  margin-bottom: 0;
}
.signup-form__button {
  text-transform: uppercase;
  background-color: hsl(154, 59%, 51%);
  box-shadow: 0 2px 1px rgb(56, 150, 140);
  border: none;
  border-radius: 5px;
  color: white;
  padding: 20px 50px;
  font-weight: 500;
  width: 100%;
  cursor: pointer;
  transition: linear 0.3s opacity;
}
.signup-form__button:hover {
  opacity: 0.8;
}
.signup-form__button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.signup-form__fine-print {
  color: rgba(220, 220, 220, 1);
  font-size: 10px;
  margin-top: 25px;
  text-align: center;
  line-height: 2;
}
.signup-form__fine-print_bold {
  color: hsl(0, 100%, 74%);
  font-weight: 600;
}
.signup-form__error-message {
  display: none;
}
.signup-form__error-message_active {
  display: inline-block;
  color: hsl(0, 100%, 74%);
  font-style: italic;
  font-size: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 1;
}

@media screen and (max-width: 768px) {
  .content {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    height: auto;
  }
}

@media screen and (max-width: 375px) {
  .hero__heading {
    font-size: 30px;
  }
  .signup-form__button {
    font-size: 12px;
    padding: 10px;
  }
  .free-trial-button {
    font-size: 12px;
    padding: 10px;
  }
}
